@charset "UTF-8";

/* ----------------------------------------------------------
  Thickbox fixes
---------------------------------------------------------- */

#TB_ajaxContent {
    box-sizing: border-box;
    max-width: 100%;
}

#TB_window > #TB_title {
    z-index: 2;
    position: relative;
}

#TB_window > #TB_ajaxContent {
    z-index: 1;
    position: absolute;
    top: 29px;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: auto!important;
    height: auto!important;
    margin: auto;
}

/* ----------------------------------------------------------
  Icon list
---------------------------------------------------------- */

.wpuacf-icons-list {
    column-gap: 20px;
    column-count: 4;
}

.wpuacf-icons-list > * {
    padding-bottom: 0.5em;
    overflow: hidden;
}

/* ----------------------------------------------------------
  Blocks thumbnails
---------------------------------------------------------- */

a:hover .acfe-flexible-layout-thumbnail {
    background-color: #fff;
    background-size: contain;
}

.acfe-flex-thumbnails a[data-max].disabled {
    position: relative;
}

.acfe-flex-thumbnails a[data-max].disabled:after {
    content: 'Max: ' attr(data-max);
    z-index: 10;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
    color: #fff;
    opacity: 0.9;
    background-color: #000;
    transform: translateY(-50%);
}
