@charset "UTF-8";

/* ----------------------------------------------------------
  Buttons
---------------------------------------------------------- */

.acfflex-link {
    display: inline-block;
    padding: 0 0.5em;
    min-width: 150px;
    border: 1px solid;
    text-align: center;
    text-decoration: none;
    line-height: 2;
}

.acfflex-link:hover {
    border-color: #369;
    color: #FFF;
    background: #369;
}

/* ----------------------------------------------------------
  Grid
---------------------------------------------------------- */

@media(min-width:769px) {
    .acfflex-grid {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .acfflex-grid > * {
        display: table-cell;
        vertical-align: middle;
    }

    .acfflex-grid > *:not(:first-child) {
        padding-left: 15px;
    }

    .acfflex-grid > *:not(:last-child) {
        padding-right: 15px;
    }
}

@media(max-width:768px) {
    .acfflex-grid > *:not(:first-child) {
        padding-top: 15px;
    }

    .acfflex-grid > *:not(:last-child) {
        padding-bottom: 15px;
    }
}

/* ----------------------------------------------------------
  Features
---------------------------------------------------------- */

.cc-block-features .features-list {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.cc-block-features .features-list > li {
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

/* ----------------------------------------------------------
  Downloads
---------------------------------------------------------- */

.cc-block-downloads .block-downloads .files-list li {
    display: inline-block;
    box-sizing: border-box;
    width: 32%;
    padding-right: 2em;
    vertical-align: top;
}

/* ----------------------------------------------------------
  Tables
---------------------------------------------------------- */

.cc-block-rich-table table {
    border-collapse: collapse;
}

.cc-block-rich-table p:first-child {
    margin-top: 0;
}

.cc-block-rich-table p:last-child {
    margin-bottom: 0;
}

.cc-block-rich-table th,
.cc-block-rich-table td:not([data-empty="1"]) {
    padding: 1em;
    border: 1px solid #e0e0e0;
    text-align: left;
    vertical-align: middle;
}

.cc-block-rich-table th {
    font-weight: bold;
    background-color: #efefef;
}

.cc-block-rich-table td:not([data-empty="1"]) {
    background-color: #fafafa;
}

/* ----------------------------------------------------------
  Logos
---------------------------------------------------------- */

.cc-block-logos .logos-list {
    text-align: left;
}

.cc-block-logos .logos-list > * {
    display: inline-block;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    width: 25%;
    height: 150px;
    border: 1px solid #F0F0F0;
    vertical-align: top;
}

.cc-block-logos .logos-list a {
    display: block;
}

.cc-block-logos .logos-list img {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-height: 80%;
    max-width: 80%;
    vertical-align: 0;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

/* ----------------------------------------------------------
  Blocks
---------------------------------------------------------- */

.cc-wpuacfflexible {
    margin-bottom: 2em;
}

.cc-wpuacfflexible + .cc-wpuacfflexible {
    margin-top: 2em;
}

.cc-wpuacfflexible .field-content:not(:last-child) {
    margin-bottom: 1em;
}

/* ----------------------------------------------------------
  Quote
---------------------------------------------------------- */

.block--team-quote .field-quote p,
.cc-block-quote .field-quote p {
    margin-top: 0;
    font-family: serif;
    font-size: 2em;
    font-style: italic;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.block--team-quote blockquote footer,
.cc-block-quote blockquote footer {
    text-align: right;
}

.block--team-quote blockquote footer:before,
.cc-block-quote blockquote footer:before {
    content: '— ';
}

/* ----------------------------------------------------------
  Team Quote
---------------------------------------------------------- */

.block--team-quote:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
}

.block--team-quote .quote-image {
    float: left;
    width: 150px;
    margin-right: 20px;
    max-width: 30%;
}

.block--team-quote .quote-inner {
    overflow: hidden;
}

/* ----------------------------------------------------------
  Hero
---------------------------------------------------------- */

.cc-block-hero {
    background: transparent no-repeat center center;
    background-size: cover;
}

.block--hero {
    padding: 2em;
    color: #fff;
    background-color: rgba(0,0,0,0.2);
}

.block--hero .field-title {
    color: inherit;
}

/* ----------------------------------------------------------
  Video
---------------------------------------------------------- */

/* Wrapper
-------------------------- */

.wpuacf-video {
    z-index: 1;
    position: relative;
    height: 0;
    padding-top: 56.25%;
}

/* Common
-------------------------- */

.wpuacf-video .cover-image img,
.wpuacf-video .cover-image,
.wpuacf-video .content-video iframe,
.wpuacf-video .content-video {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Cursor
-------------------------- */

.wpuacf-video .cursor {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    border: 1px solid;
    border-radius: 99em;
    text-align: center;
    line-height: 3;
    background-color: #fff;
    transform: translate3d(-50%,-50%,0);
    cursor: pointer;
}

.wpuacf-video .cursor:before {
    content: '►';
}

/* Cover
-------------------------- */

.wpuacf-video .cover-image {
    z-index: 2;
}

.wpuacf-video .cover-image img {
    object-fit: cover;
}

/* Anim
-------------------------- */

.wpuacf-video .cursor,
.wpuacf-video .cover-image {
    opacity: 0.999;
    transition: all 0.3s ease;
}

.wpuacf-video[data-is-loading="1"] .cursor,
.wpuacf-video[data-is-playing="1"] .cover-image {
    opacity: 0;
    pointer-events: none;
}
