@charset "UTF-8";

/* ----------------------------------------------------------
  CSS Reset
---------------------------------------------------------- */

#poststuff .acfe-flexible-placeholder.-preview {
    box-sizing: border-box;
    padding: 1em;
}

/* Titles
-------------------------- */

#poststuff .acfe-flexible-placeholder.-preview h3,
#poststuff .acfe-flexible-placeholder.-preview h2 {
    margin: 0 0 0.3em;
    padding: 0;
    font-weight: bold;
}

#poststuff .acfe-flexible-placeholder.-preview h2 {
    font-size: 1.6em;
}

#poststuff .acfe-flexible-placeholder.-preview h3 {
    font-size: 1.4em;
}

#poststuff .acfe-flexible-placeholder.-preview h4 {
    font-size: 1.2em;
}

/* Tables
-------------------------- */

#poststuff .acfe-flexible-placeholder.-preview table {
    width: 100%;
}

#poststuff .acfe-flexible-placeholder.-preview th {
    font-weight: bold;
}

/* ----------------------------------------------------------
  Blocks
---------------------------------------------------------- */

/* Features
-------------------------- */

.acfe-flexible-placeholder.-preview .cc-block-features .features-list {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.acfe-flexible-placeholder.-preview .cc-block-features .features-list > * {
    flex-grow: 1;
    justify-content: space-between;
    text-align: center;
}

/* Logos
-------------------------- */

.acfe-flexible-placeholder.-preview {
    z-index: 0;
    position: relative;
}

.layout > .acfe-fc-placeholder .acfe-fc-overlay {
    z-index: 1;
}

.acfe-flexible-placeholder.-preview .cc-block-logos .logos-list {
    text-align: left;
}

.acfe-flexible-placeholder.-preview .cc-block-logos .logos-list > * {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    vertical-align: top;
}

.acfe-flexible-placeholder.-preview .cc-block-logos .logos-list a {
    display: block;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    height: 150px;
    border: 1px solid #F0F0F0;
}

.acfe-flexible-placeholder.-preview .cc-block-logos .logos-list img {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    max-height: 80%;
    max-width: 80%;
    vertical-align: 0;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

/* Table
-------------------------- */

.acfe-flexible-placeholder.-preview .cc-block-rich-table table {
    border-collapse: collapse;
}

.acfe-flexible-placeholder.-preview .cc-block-rich-table p:first-child {
    margin-top: 0;
}

.acfe-flexible-placeholder.-preview .cc-block-rich-table p:last-child {
    margin-bottom: 0;
}

.acfe-flexible-placeholder.-preview .cc-block-rich-table th,
.acfe-flexible-placeholder.-preview .cc-block-rich-table td:not([data-empty="1"]) {
    padding: 1em;
    border: 1px solid #e0e0e0;
    text-align: left;
    vertical-align: middle;
}

.acfe-flexible-placeholder.-preview .cc-block-rich-table th {
    font-weight: bold;
    background-color: #efefef;
}

.acfe-flexible-placeholder.-preview .cc-block-rich-table td:not([data-empty="1"]) {
    background-color: #fafafa;
}
